html {
  font-size: 22px;
}
@media (min-width: 40rem) {
  html {
    font-size: 18px;
  }
}
 
body {
  margin: 0;
  font: 1rem/1.5 "PT Sans", sans-serif;
  color: #5a5a5a;
  background-color: #FFFFFF
}
 
/* Navigation bar */
u1 {
  font-size: 20px;
}


a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/*
 * Container
 * Center the page content.
 */

.container {
  max-width: 50rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}


/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #F2F2F2;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #F2F2F2;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

.preview {
  margin-left: auto;
  margin-right: auto;
  width: 1500px;
  height: 700px;
}

td {
  padding: 0px;
  align: center;
  valign: center;
}
