<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h1 class="masthead-title">
            {{ site.title }}
        </h1>
        <u1 class='navigation'>
            <small> <a href="{{ site.baseurl }}" align="right"> home </a> </small>
            <small> <a href="/projects/" align="right"> projects </a> </small>
            <small> <a href="/presentations/" align="right"> presentations </a> </small>
        </u1>

      </header>

      <main>
        {{ content }}
      </main>

    </div>

  </body>
</html>
