<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h1 class="masthead-title">
            {{ site.title }} 
        </h1>
        <u1 class='navigation'>
             <a href="{{ site.baseurl }}" align="right">home</a> 
               &#124;
             <a href="/public_work/" align="right">research</a>
                &#124;
             <a href="/projects/" align="right">other projects</a> 
        </u1>

      </header>

      <main>
        {{ content }}
      </main>

    </div>

  </body>
</html>
